<%= form_for @contact do |f| %>

	<% if @contact.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<% @contact.errors.each do |attr, message| %>
	  			<li><%= message %></li>
			<% end %>
		</div>
	<% end %>

	<dl class="row">

		<dt class="col-sm-3">Kontaktyň Ady</dt>
		<dd class="col-sm-9"><%= f.text_field :title, class: "form-control", placeholder: "Kontaktyň, edaranyň, şahsyň adyny giriziň..." %></dd>

		<dt class="col-sm-3">Kategoriýasy</dt>
		<dd class="col-sm-9"> <%= f.collection_select :category_id, Category.all, :id, :title, class: "form-control" %> </dd>

		<dt class="col-sm-3">Teswiri</dt>
		<dd class="col-sm-9"><%= f.text_field :description, class: "form-control", placeholder: "Kontaktyň, edaranyň, şahsyň teswirini giriziň..." %></dd>

		<dt class="col-sm-3">Salgysy</dt>
		<dd class="col-sm-9"><%= f.text_field :address, class: "form-control", placeholder: "Kontaktyň, edaranyň, şahsyň salgysyny giriziň..." %></dd>

	</dl>

	<hr style="width: 100%; background-color: gray; height: 1px; " />
	<h4> Telefon Belgileri </h4>
	<hr style="width: 100%; background-color: gray; height: 1px; " />

	<div id="phones">
		<%= f.fields_for :phones do |phone| %>
			<%= render 'phone_fields', f: phone %>
		<% end %>
	</div>

	<div class="links">
		<%= link_to_add_association f, :phones do %>
			<button type="button" class="btn btn-primary">
				<i class="fa fa-plus-circle" style="font-size:14pt"></i>
				Täze Tel. Belgi Goş 
			</button>
		<% end %>
	</div>

	<hr style="width: 100%; background-color: gray; height: 1px; " />

	<%= f.submit "Kabul Et", class: 'btn btn-primary btn-xs' %>

<% end %>