    <script>
        function showSearchContacts(str)
        {
            //if (str.length == 0) {
                //document.getElementById("search_contacts").innerHTML = "Nichego Net";
            //}
            //else {
                var xmlhttp = new XMLHttpRequest();

                xmlhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById('search_contacts').innerHTML = this.responseText;
                    }
                };

                xmlhttp.open("GET", "http://localhost:3000/contacts/search_contacts?hint="+str, true);
                xmlhttp.send();
            //}
        }
  </script>

<div class="container">

<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xs navbar-light" style="background-color:#E8E9EB;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle h3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kategoriýalar
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="/contacts">Ählisi</a>
          <div class="dropdown-divider"></div>

          <% @categories.each do |cat| %>
            <%= link_to cat.title, contacts_path(category: cat.id), class: "dropdown-item" %>

            <% unless cat == @categories.last %> 
              <div class="dropdown-divider"></div>
            <% end %>

          <% end %>

        </div>
      </li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      
      <li>
        <%= link_to new_contact_path, id: "new_contact" do %>
          <button type="button" class="btn btn-primary" style="margin-top:10px">
            <i class="fa fa-plus-circle" style="font-size:14pt"></i> &nbsp;
            Täze Kontakt
          </button>
        <% end %>
      </li>
      &nbsp;
      <li>
        <%= link_to root_path do %>
          <button type="button" class="btn btn-info" style="margin-top:10px">
            <i class="fa fa-home" style="font-size:14pt"></i> &nbsp;
            Baş Sahypa
          </button>
        <% end %>
      </li>

    </ul>

    <input class="form-control col-md-5" type="search" placeholder="Ähli kontaktlardan gözle... (sözjügi ýazyp enter basyň)" aria-label="Gözleg" onsearch="showSearchContacts(this.value)">

  </div>
</nav>

<br/>

<div id="search_contacts">
    <h1>
      <% if !@category.nil? %> 
        <%= @category.title %>
      <% else %>
        Ähli Kontaktlar Sanawy
      <% end %>
    </h1>

    <br/>
    <br/>

    <table class="table table-hover">

      <thead>
        <tr>
          <th>Kontakt</th>
          <th>Salgysy</th>
          <th>Kategoriýasy</th>
          <th>Teswiri</th>
          <th>Amallar</th>
        </tr>
      </thead>

      <tbody>

        <% @contacts.each do |contact| %>
          <tr>
            <td> <%= link_to contact.title , contact %> </td>
            <td> <%= contact.address %> </td>
            <td> <%= contact.category.title %> </td>
            <td> <%= contact.description %> </td>
            <td> 
              <%= link_to contact do %>
                <i class="fa fa-info-circle"></i>
              <% end %> 
              &nbsp;
              <%= link_to edit_contact_path(contact) do %>
                <i class="fa fa-edit"></i>
              <% end %> 
            </td>
          </tr>
        <% end %>

      </tbody>

    </table>
</div>

</div>