<div class="container">

<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xs navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle h3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kategoriýalar
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="/contacts">Ählisi</a>
          <div class="dropdown-divider"></div>

          <% @categories.each do |cat| %>
            <%= link_to cat.title, contacts_path(category: cat.id), class: "dropdown-item" %>

            <% unless cat == @categories.last %> 
              <div class="dropdown-divider"></div>
            <% end %>

          <% end %>

        </div>
      </li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <li>
        <%= link_to new_contact_path do %>
          <button type="button" class="btn btn-primary" style="margin-top:10px">Täze Kontakt</button>
        <% end %>
      </li>


    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-6" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>

<h1>Salgylar Sanawy </h1>

<br/>
<br/>

<table class="table table-hover">

  <thead>
    <tr>
      <th>Kontakt</th>
      <th>Salgysy</th>
      <th>Kategoriýasy</th>
      <th>Teswiri</th>
      <th>Amallar</th>
    </tr>
  </thead>

  <tbody>

    <% @contacts.each do |contact| %>
      <tr>
        <td> <%= contact.title %> </td>
        <td> <%= contact.address %> </td>
        <td> <%= contact.category.title %> </td>
        <td> <%= contact.description %> </td>
        <td> 
          <%= link_to contact do %>
            <i class="fa fa-info-circle"></i>
          <% end %> 
          &nbsp;
          <%= link_to edit_contact_path(contact) do %>
            <i class="fa fa-edit"></i>
          <% end %> 
          &nbsp;
          <%= link_to "<i class='fa fa-times-circle'></i>".html_safe, contact, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>

</div>